- content_for :title do
  App
  \|
  Statistics

%h4.text-center.mb-3
  Users created per day
= line_chart charts_users_per_day_path

%h4.text-center.mb-3
  Enrollments created per day
= column_chart charts_enrollments_per_day_path

%h4.text-center.mb-3
  Course popularity
//= pie_chart @courses.group(:enrollments_count).count
//= pie_chart @enrollments.joins(:course).group(:'courses.title').count
= bar_chart charts_course_popularity_path

%h4.text-center.mb-3
  Money paid courses
= bar_chart charts_money_markers_path



