@import "bootstrap";

body { background-color: #EDF1F7}

.form-control.is-invalid { background-image: none; }
.form-control.is-valid { background-image: none; }

.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }