@import "bootstrap";


body { background-color: #EDF1F7}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.form-control.is-invalid { background-image: none; }
.form-control.is-valid { background-image: none; }